<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Contenido de <%= filename %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Contenido del archivo <strong><%= filename %></strong></h1>
    <pre><%= data %></pre>
    <p><a href="/">Volver</a></p>
  </body>
</html>
