<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Imagen <%= filename %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Imagen <strong><%= filename %></strong></h1>
    <img src="/files/<%= encodeURIComponent(filename) %>" alt="<%= filename %>" />
    <p><a href="/">Volver</a></p>
  </body>
</html>
